@model Contact


<div class="form-group xrm-divider">
    Contact Detail
</div>


<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.Company)
    @Html.DisplayFor(x => x.Title)
</div>


<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.FirstName)
    @Html.DisplayFor(x => x.LastName)
</div>

<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.Email)
    @Html.DisplayFor(x => x.Phone)
</div>


<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.DateOfBirth)
    @Html.DisplayFor(x => x.ContactType)
</div>

<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.Status)
    @Html.DisplayFor(x => x.Comment)
</div>


<div role="tabpanel">
    <ul class="nav nav-tabs tab-group" role="tablist">
        <li class="active"><a href="#detail" data-toggle="tab">Detail</a></li>
        <li><a href="/User/List" data-toggle="tabajax" data-target='#XrmAjaxDiv'>Users</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="detail">
            <div class="form-group xrm-divider">System Info</div>
            <div class="form-group xrm-detail">
                @Html.DisplayFor(x => x.CreatedBy)
                @Html.DisplayFor(x => x.CreatedDate)
            </div>
            <div class="form-group xrm-detail">
                @Html.DisplayFor(x => x.LastModifiedBy)
                @Html.DisplayFor(x => x.LastModifiedDate)
            </div>
        </div>
        <div role="tabpanel" class="form-group tab-pane" id="XrmAjaxDiv"></div>
    </div>
</div>


