@model XrmUser



<div class="form-group xrm-divider">
    User Detail
</div>


<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.UserName)

</div>


<div class="form-group xrm-detail">
    @Html.EditorFor(x => x.Email)
    @Html.DisplayFor(x => x.EmailConfirmed)
</div>

<div class="form-group xrm-detail">
    @Html.EditorFor(x => x.PhoneNumber)
    @Html.DisplayFor(x => x.PhoneNumberConfirmed)
</div>

<div class="form-group xrm-detail">
    @Html.EditorFor(x => x.TwoFactorEnabled)
    @Html.DisplayFor(x => x.AccessFailedCount)
</div>

<div class="form-group xrm-detail">
    @Html.DisplayFor(x => x.LockoutEnabled)
    @Html.DisplayFor(x => x.LockoutEndDateUtc)
</div>

